*::after,
*::before {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  background-color: rgb(200, 233, 233);
  color: darkblue;
}

navbar {
  background-color: rgb(144, 181, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
label {
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
}

.city {
  width: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-style: double;
  background-color: rgb(242, 242, 218);
  border-radius: 0.20rem;
}

.search {
  width: 50%;
  height: 224px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-style: double;
  background-color: rgb(242, 242, 218);
  border-radius: 0.20rem;
}

.sub{
    border-radius: 9px;
    background-color: gold;
    color:darkblue;

}
.sub:hover{
    width:170px;
    height:50px;
}


.formW {
  display:grid;
  justify-content: center;
  align-items: center;
  margin-top:5rem;
}

.the-icon{
    width:40px;
    height:40px;
    object-fit:contain;
    background-color:rgb(144, 181, 211);
}

.the-icon.large {
    width:85px;
    height:85px;


}

#big {
  background-color:rgb(144, 181, 211);
}

.left-element {
    display:inline-block;
    float:left;
}

.right-element{
margin-top: 10%;
margin-left:40%;
display:inline-block;
float:left;
}


.restOfWeek {
    display:flex;
    grid-template-columns:repeat(auto-fit,75) ;
    gap:0.5rem;
    justify-content: space-between;
    padding:1rem;
}


.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
  background-color: rgb(242, 242, 218);
  border-radius: 0.20rem;
  padding:0.25rem;
  width: 100px;
}

.seachhistory{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}